@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Abril Fatface', cursive;
font-family: 'Merriweather', serif;
font-family: 'Overpass Mono', monospace; */
.App,
.Albums_List,
.Album_Page {
  height: 100vh;
  margin: 50px 150px 100px;
}

nav {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 0.75rem;
}
h1 {
  font-family: "Abril Fatface", cursive;
}

.subline {
  font-family: "Merriweather", serif;
  font-weight: 100;
  width: 15rem;
}

.explore {
  font-family: "Merriweather", serif;
}

li {
  padding-bottom: 1rem;
}

.album_list_details {
  font-family: "Overpass Mono", monospace;
}

.album_title {
  font-family: "Overpass Mono", monospace;
  font-weight: 800;
}

.album_details {
  font-family: "Overpass Mono", monospace;
}

.video {
  width: 560px;
  height: 315px;
}
.playlist {
  width: 30%;
  height: 380px;
}

.details {
  font-family: "Overpass Mono", monospace;
  font-weight: 100;
  width: 50%;
}

.cover_image {
  width: 250px;
  height: 250px;
}

.img_1 {
  height: 400px;
  width: auto;
  margin-left: -150px;
}
