@tailwind base;
@tailwind components;
@tailwind utilities;

.App,
.Albums_List,
.Album_Page,
.About {
  height: 100vh;
  margin: 50px 150px 100px;
}

nav {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 0.75rem;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

.subline {
  font-family: "Merriweather", serif;
  font-weight: 100;
  width: 15rem;
}

.explore {
  font-family: "Merriweather", serif;
}

li {
  padding-bottom: 1rem;
}

.album_list_details {
  font-family: "Overpass Mono", monospace;
  font-size: small;
  font-weight: 500;
}

.album_title {
  font-family: "Overpass Mono", monospace;
  font-weight: 800;
}

.album_details {
  font-family: "Merriweather", serif;
}

.video {
  width: 640px;
  height: 460px;
  margin: 0 auto;
}
.playlist {
  width: 30%;
  height: 380px;
}

.details {
  font-family: "Overpass Mono", monospace;
  opacity: 0.75;
  font-weight: 100;
  width: 50%;
}

.cover_image {
  width: 250px;
  height: 250px;
}

.img_1 {
  height: 400px;
  width: auto;
  margin-left: -150px;
}

.img_2 {
  height: 500px;
  position: relative;
  width: auto;
  margin-left: 40%;
  margin-top: 150px;
}

.quote {
  font-size: 55px;
  line-height: 1.2;
  width: 60%;
  z-index: 2;
  position: absolute;
  font-family: "Abril Fatface", cursive;
  opacity: 0.85;
}

.history {
  width: 65%;
  font-family: "Overpass Mono", monospace;
  opacity: 0.75;
  font-weight: 100;
}

.list:nth-child(even) {
  background-color: #373737;
}

.list:nth-child(odd) {
  background-color: #373737;
}

.Footer {
  font-family: "Merriweather", serif;
  font-weight: 100;
  font-size: small;
}
