@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Abril Fatface', cursive;
font-family: 'Merriweather', serif;
font-family: 'Overpass Mono', monospace; */
.App {
  height: 100vh;
  margin: 50px 150px 100px;
}

nav {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 0.75rem;
}
h1 {
  font-family: "Abril Fatface", cursive;
}

.subline {
  font-family: "Merriweather", serif;
  font-weight: 100;
  width: 15rem;
}

.explore {
  font-family: "Merriweather", serif;
}

li {
  padding-bottom: 1rem;
}
